
html,body{
    margin: 0;
    padding: 0;
    color: #383838;
    font-family: 'Noto Sans', Arial;
}
header{
    border-top: 3px solid peachpuff;
    margin-bottom: 30px;
    background-color: #fff0e2;
}
footer{
    border-top: 2px solid peachpuff;
    margin-top: 50px;
    background-color: #fff0e2;
}

h1{
    text-align: center;
    font-family: Arial;
    font-style: italic;
    position: relative;
    margin-top: 0;
    padding: 20px;
}
form {
    width: 200px;
    margin: 30px auto 0 0;
}
#price{
    border:0;
    color:#f6931f;
    font-weight:bold;
}
.table{
    margin-top: 50px;
}
footer{
    height: 700px;
}

.form-control:focus {
    border-color: #e3cab3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 205, 166, 0.78);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 205, 166, 0.6);
    background-color: #ffefe0;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid rgba(218, 163, 94, 0.35);
    background: rgba(255, 217, 185, 0.83);
    color: #775820;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #fff !important;
    background: #f1c59f !important;
    box-shadow: none !important;
}
#filmsList th:nth-child(6){
    min-width: 75px;
}
tr, td{
    transition: background-color .06s ease-in-out;
}
#filmsTable tr:hover{
    background-color: #fff0e2;
    cursor: pointer;
}

#hallTable td{
    text-align: center;
    width: 40px;
    height: 40px;

}
#hallTable td{
    transition: background-color .06s ease-in-out;
}
#hallTable td:not([data-status="2"]):hover{
    background-color: #faf1e8;
    cursor: pointer;
    box-shadow: inset 0 0 13px -1px #ffe0cd;
}

.ttl{
    font-weight: bold;
}
.modal-header{
    background-color: #fff0e2;
}
.seance-block{
    text-align: left;
}

.seanceDate, .seanceTime, .hall-ttl{
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: bold;
    color: #595959;
}
.price-text{
    letter-spacing: 1px;
}
#pageHall, #getOrder{
    background-color: #f9e4d1;
    background-image: -webkit-linear-gradient(top,#fff 0,#fff0e2 100%);
}


td[data-status='0']{
    background-color: rgba(209, 255, 185, 0.44);
}
td[data-status='1']{
    background-color: #f8e9d9;
}
td[data-status='2']{
    background-color: rgba(224, 229, 222, 0.44);
}

.orderInfo{
    text-align: right;
}
.wrap-table{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    /*background-color: #fcfcfc;*/

    background: linear-gradient(180deg, #fcfcfc, white);
}
#seanceHall{
    border: none;
    margin: 0;
}
#hallTable{

}
#hallTable tr{
}

#hallTable td{

    border: 1px solid #e3e3e3;

}
#stateOrderBlock{
    display: inline-block;

    padding: 0 20px 0 10px;
    border-left: 30px solid #fff0e2;
}

.screen{
    width: 100%;
    border-radius: 3px;
    height: 10px;
    border-top: 5px solid #f5f5f5;
    background-color: #fef1e5;
    margin: 0 auto 70px;
    box-shadow: 0 22px 6px 20px rgba(255, 240, 226, 0.11);
}