
html,body{
    margin: 0;
    padding: 0;
    color: #383838;
}
header{
    border-top: 3px solid peachpuff;
    margin-bottom: 30px;
    background-color: #fff0e2;
}
footer{
    border-top: 2px solid peachpuff;
    margin-top: 50px;
    background-color: #fff0e2;
}

h1{
    text-align: center;
    font-family: Arial;
    font-style: italic;
    position: relative;
    margin-top: 0;
    padding: 20px;
}
form {
    width: 200px;
    margin: 30px auto 0 0;
}
#price{
    border:0;
    color:#f6931f;
    font-weight:bold;
}
.table{
    margin-top: 50px;
}
footer{
    height: 700px;
}

.form-control:focus {
    border-color: #e3cab3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 205, 166, 0.78);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(250, 205, 166, 0.6);
    background-color: #ffefe0;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid rgba(218, 163, 94, 0.35);
    background: rgba(255, 217, 185, 0.83);
    color: #775820;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #fff !important;
    background: #f1c59f !important;
    box-shadow: none !important;
}
#filmsList th:nth-child(6){
    min-width: 75px;
}
tr{
    transition: .06s ease-in-out;
}
tbody tr:hover{
    background-color: #fff0e2;
    cursor: pointer;
}

.ttl{
    font-weight: bold;
}
.modal-header{
    background-color: #fff0e2;
}
.seance-block{
    text-align: left;
}

.seanceDate, .seanceTime{
    font-size: 1.2rem;
    font-weight: bold;
}